<section class="flex justify-center max-w-[1440px] mx-auto px-5 py-16 md:py-24 md:px-10" data-pledge-target="pitch">
  <div class="relative flex flex-col xl:items-center">
    <aside class="flex items-center gap-2 mb-9 xl:gap-3 xl:w-0 xl:overflow-visible xl:mb-0 xl:origin-bottom-left xl:-rotate-90 xl:absolute xl:bottom-1/4 xl:left-[-100px]" id="pledge_count">
      <%= turbo_stream_from "pledge_count" %>
      <%= render "pledges/pitch/pledge_count" %>
    </aside>
    <article class="flex flex-col gap-4 max-w-content">
      <p class="text-soil font-medium text-xl md:text-2xl">
        Today’s marketplace for software jobs is increasingly less favorable to those newer to tech and those in the unfortunate limbo of mid-level classification.
      </p>
      <p class="text-soil text-base	leading-8">
        There are many reasons for this. We’re in the budding age of AI, and cutting edge companies are in need of experts to pave the way to uncharted territory. Speaking of competitive advantage, it makes a whole lot of immediate business sense to hire a team of all-stars, people with decades of experience and unheard of prowess, to lead the charge for revolutionary product development.
      </p>
      <p class="text-soil text-base	leading-8">
        Yet, as we strive to fill our ranks with the best of the best, a massive cavity is forming for those caught in the middle. In favor of immediate business results, we are overlooking junior and mid-level technologists, leaving our industries wide open to bottoming out in the short years ahead.
      </p>
      <p class="text-soil text-base	leading-8">
        As we make the market less favorable for those caught in the middle, we are cutting off our supply of the next generation of remarkable technological talent. Just as it makes good business sense to hire north of senior, it makes wise financial sense for the middle to move their interests elsewhere to support themselves and their families. We are forsaking a diverse and thriving pool of technologists in our pursuit of short-term business sensibilities, thereby cutting off the rich supply of successful talent that will sustain innovative industries in the long-term.
      </p>
      <div>
        <p class="text-soil text-base	leading-8">Without the middle:</p>
        <ul class="list-disc ml-8">
          <li class="text-soil text-base leading-8">We will have less talent over time.</li>
          <li class="text-soil text-base leading-8">We will have less diversity of ideas that foster innovation.</li>
          <li class="text-soil text-base leading-8">We will solve fewer problems for our customers.</li>
        </ul>
      </div>
      <p class="text-soil text-base	leading-8">
        There is a cohort of technologists waiting for us to ship them to production. They are the next generation of engineers, the upcoming techies, and the ones who will carry us through the next iterations of software advancement and artificial intelligence.
      </p>
      <p class="text-soil text-base	leading-8">
        Overlooked, disregarded, and far underestimated, these technologists know grit better than any of us. They’ve searched for jobs to no avail, wrestled with technical problems with little help, and spent long nights fretting over their dreams.
      </p>
      <p class="text-soil font-medium text-xl z-10 md:text-2xl">
        The middle needs us as much as we need them. Sign the manifesto now to make a way for the next generation of technologists.
      </p>
    </article>
  </div>
</section>
