<section class="flex flex-col gap-8 max-w-content mx-auto py-24 px-5 md:px-10">
  <section class="flex flex-col gap-2">
    <h2 class="font-bold text-3xl md:text-[40px] text-soil">Spread the Word</h2>
    <p class="text-soil text-base leading-8">Advancing the next generation of technologists is a group effort. 🧡 Download an image and spread the word on your favorite socials!</p>
  </section>
  <section class="flex flex-col items-center gap-10 md:flex-row md:items-center">
    <div class="flex flex-col gap-2 items-end">
      <%= image_tag "pledges/share-me-with-friends__01.svg", class: "w-full max-w-md" %>
      <a class="flex items-center justify-center w-8 h-8 bg-soil rounded-none border-2 border-soil focus:outline-0 focus:border-yellow-400" href="<%= image_url "share-me-with-friends__01.png" %>" download="share-me-with-friends__01.png">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.0006 15.3333V16.6667C22.0006 18.5336 22.0006 19.4669 21.6372 20.18C21.3177 20.8072 20.8078 21.3171 20.1805 21.6367C19.4674 22 18.5341 22 16.6672 22H7.33388C5.46704 22 4.53362 22 3.82058 21.6367C3.19337 21.3171 2.68344 20.8072 2.36386 20.18C2.00055 19.4669 2.00055 18.5336 2.00055 16.6667V15.3333M17.5561 9.77778L12.0005 15.3333M12.0005 15.3333L6.44499 9.77778M12.0005 15.3333V2" stroke="white" stroke-width="2.22222" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
    <div class="flex flex-col gap-2 items-end">
      <%= image_tag "pledges/share-me-with-friends__02.svg", class: "w-full max-w-md" %>
      <a class="flex items-center justify-center w-8 h-8 bg-soil rounded-none border-2 border-soil focus:outline-0 focus:border-yellow-400" href="<%= image_url "share-me-with-friends__02.png" %>" download="share-me-with-friends__02.png">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.0006 15.3333V16.6667C22.0006 18.5336 22.0006 19.4669 21.6372 20.18C21.3177 20.8072 20.8078 21.3171 20.1805 21.6367C19.4674 22 18.5341 22 16.6672 22H7.33388C5.46704 22 4.53362 22 3.82058 21.6367C3.19337 21.3171 2.68344 20.8072 2.36386 20.18C2.00055 19.4669 2.00055 18.5336 2.00055 16.6667V15.3333M17.5561 9.77778L12.0005 15.3333M12.0005 15.3333L6.44499 9.77778M12.0005 15.3333V2" stroke="white" stroke-width="2.22222" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </section>
</section>
